@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
 --primary-color: #00B0FF; 
 --dark-grey: #6B728B; 
 --off-white: #F8F0E3; 
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}

hr {
    margin: 2rem 0rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    max-width: 140px;
}

.link-primary {
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: white;
    margin: 1rem;
}

.link-secondary {
    border-radius: 1rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    margin: 1rem;
}

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: x-large;
}

.navigation .link {
    color: white;
}

.navigation .nav-pills {
    text-align: right;
    margin-left: auto;
}

.navigation .link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 90%;
    width: 550px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding: 1rem;
    margin: auto;
}

.hero .heading-inverted {
    color: var(--primary-color);
}

.section {
    padding: 2rem;
}

.section h3 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-left-radius: 1rem;
}

.footer .footer-header {
    font-weight: bold;
    font-size: larger;
}

.footer .link {
    color: white;
}

.footer .footer-copyright {
    font-size: x-small;
}

.footer ul{
    padding-inline-start: 0px;
}

.showcase-list{
    display: block;
    text-align: center;
    margin: 3rem auto;
    padding: 2rem;
}

.showcase-list h2{
    margin: 0.2rem;
}

.showcase-list p{
    margin-bottom: 1.5rem;
}

.showcase-blog {
    padding-bottom: 6rem;
    max-width: 900px;
    width: 95%;
    margin: auto;
}